
<div class="user_partial_index col-sm-4">
	<div class="user_image"><%= image_tag("#{user.avatar(:thumb)}") %></div>
	<div class="user_name"><%= user.nickname %></div>

    <div>
    	<button class="user_delete">
    	<%= link_to '削除', "/groups/#{@group.id}/users/#{user.id}", method: :delete %>
        </button>
    </div>
</div>