<div class="container">
  <%= form_tag("/searches/search", method: :get) do %>
    <h2>キーワードで検索</h2>
    <input type="text", placeholder="キーワードを入力", name="title">
    <label><input type="submit" value="" id="search"></label>
  <% end %>

</div>

