.header_container {
	// width: 100%;
	// background-color: #18bc9c;
	background-color: #000000;
}

.logo {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  font-family: Comic Sans MS;
}

// .navi {
//   float: right;
//   margin: auto 0;
//   line-height: 4;
// }

.navi a {
  margin-right: 10px;

}