html body {
  height: 100%;
}

.wide_screen {
  width: 100%;
  background-image: url('/images/wide_image.jpg');
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /*position: relative;*/
  position: fixed;
}

.message h1 {
  font-size: 60px;
  color: #ffffff;
  font-family: 'Fugaz One', cursive;
  margin: 0;
  margin-left: 25px;
}

.message_wrapper {
  padding-right: 0;
  padding-left: 0;
}

.message {
  width: 100%;
}

.devise_wrapper {
  padding-right: 0;
  padding-left: 0;
}

.devise_container {
  background-color: #ffffff;
  // opacity: 0.9;
  width: 420px;
  /*float: right;*/
  margin-top: 100px;
  /*margin-right: 250px;*/
  padding: 20px 60px 20px 60px;
  display: inline-block;
}

.devise_container>p {
  font-size: 25px;
  margin-bottom: 20px;
}

// .devise_container_signup {
//   background-color: #ffffff;
//   opacity: 0.9;
//   width: 420px;
//   /*float: right;*/
//   margin-top: 100px;
//   margin-bottom: 50px;
//   /*margin-right: 250px;*/
//   padding: 10px 40px 30px 40px;
//   display: inline-block;
// }

.message {
  /*width: 400px;*/
  padding-top: 150px;
  /*margin-left:250px;*/
  /*float: left;*/
  display: inline-block;
}

.service_message p {
  color: #ffffff;
  margin-top: 40px;
  line-height: 2;
}

.field input {
  margin-bottom: 20px;
  width: 250px;
}

.actions input {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.actions input:hover {
  text-decoration: none;
}


.facebook_login img {
  width: 100%;
  margin-bottom: 15px;
}

.facebook_login p {
  color: #fff;
  border: 1px solid rgba(0,0,0,0.3);
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #3B5998;
}

.mail_login input {
  border: 1px solid #e3e3e3;
  outline: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
  width: 300px;
}

.form-group>label {
  font-size: 10px;
  font-weight: normal;
  text-align: left;
}

.mail_login .form_btn {
  background-color: #FF4F4C;
  width: 200px;
  margin: 0 auto;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.mail_login .form_btn input {
  border: none;
  color: #fff
}

.devise a {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
}

input#user_avatar {
  border: none;
}

@media (min-width: 768px) {
  .mail_login {
    display: inline-block;
  }
}

@media (max-width:767px) {
  .message {
    padding-top: 115px;
  }

  .devise_container {
    margin-top: 120px;
    background-color: #ffffff;
    zoom: 0.8;
  }

  html body {
    height: 100%;
  }

  .mail_login {
    // display: none;
  }

  .devise {
    // display: none;
  }

  // .facebook_login img {
  //   width: 200px;
  //   margin-top: 100px;
  // }

}

.message_wrapper {
  text-align: center;
}

.devise_wrapper {
  text-align: center;
}

.form_btn input, .form_btn a {
  width: 152px;
  border: 1px solid;
  border-radius: 5px;
  background-color: transparent;
  padding: 3px 12px;
  font-size: 12px;
}

.modal-footer input {
  width: 152px;
  border: 1px solid;
  border-radius: 5px;
  background-color: transparent;
  padding: 3px 12px;
  font-size: 12px;
}
