// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page {
  position: relative;
}

.partial .page {
  width: 345px;
  height: 250px;
  margin: 15px 10px 0 10px;
}

.partial .page_title {
  width: 345px;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  background-color: #ffffff;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
}

.partial .page_title a {
  color: #000000;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.partial .page_title a:hover {
  text-decoration: underline;
}


.page_elements {
  margin: 0 auto;
}

.page_delete {
  list-style: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.plus_btn img {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

@media (max-width:767px) {
  .partial .page_title {
    width: 340px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
  }

  .partial .page {
  width: 345px;
  height: 250px;
  margin: 0 auto;
  margin-top: 10px;
  }

  .partial {
  width: 340px;
  height: 250px;
  margin: 0px;
  margin-top: 10px;
  }
}
