// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header_title {
  background-color: #DCDCDC;
  text-align: center;
  height: 60px;
  font-size: 15px;
  font-weight: bold;
  line-height: 3.7;
  margin-bottom: 20px;
}

// .back_to_group li {
//   list-style: none;
//   float: left;
//   margin-right: 15px;
// }

// .back_to_group li a {
//   color: #ffffff;
//   background-color: #454545;
//   border-radius: 30px;
//   display: inline-block;
//   width: 120px;
//   line-height: 2.5;
//   font-size: 12px;
// }

// .back_to_group li a:hover {
//   text-decoration: none;
// }

.group_member {
  height: 40px;
  text-align: center;
}

.group_member li a {
  color: #ffffff;
  background-color: #454545;
  border-radius: 30px;
  display: inline-block;
  width: 120px;
  line-height: 2.5;
  font-size: 12px;
}

.group_member li a:hover {
  text-decoration: none;
}

.sp_group_member {
  display: none;
}

.member_show {
  list-style: none;
  float: right;
  margin-right: 15px;
}

.member_invite {
  list-style: none;
  float: right;
  margin-right: 15px;
}

.back_to_group {
  list-style: none;
  height: 30px;
  float: left;
  margin-left: 15px;
}

.page_partial {
  height: 220px;
  // margin: 15px 10px 0 10px;
  padding: 10px;
}

.page_partial > a {
  border: 0.5px solid #DCDCDC;
}

.page_partial>a {
  display: block;
}

.page_page {
  position: relative;
  height: 100%;
}

.page_title {
  width: 100%;
  height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  background-color: #000000;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
}

.page_partial .page_title p {
  color: #ffffff;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page_partial .page_title p:hover {
  text-decoration: underline;
}

.page_avatar_image img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.page_elements {
  margin: 0 auto;
}

.page_delete {
  list-style: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.plus_btn img {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

@media (max-width:767px) {

  .page_partial {
    height: 250px;
    margin: 0 auto;
  }

  .page_page {
    height: 100%;
  }

  .page_partial .page_title {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
  }

  .group_member {
    display: none;
  }

  .sp_group_member {
    display: block;
    height: 40px;
    text-align: center;
  }

  .sp_group_member li a {
    color: #ffffff;
    background-color: #454545;
    border-radius: 30px;
    display: inline-block;
    width: 120px;
    line-height: 2.5;
    font-size: 12px;
  }

  .sp_group_member li a:hover {
    text-decoration: none;
  }

  .member_show {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
  }

  .member_invite {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
  }

  .back_to_group {
    list-style: none;
    height: 30px;
    float: left;
    margin: 0;
    padding: 0;
  }

}
