.search_partial {
  height: 220px;
  // margin: 15px 10px 0 10px;
  padding: 10px;
}

.search_partial>a {
  display: block;
}

.search_page {
  position: relative;
  height: 100%;
}

.search_page_title {
  width: 100%;
  height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  background-color: #000000;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
}

.search_page_title p {
  color: #ffffff;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search_partial .search_page_title p:hover {
  text-decoration: underline;
}

.search_elements {
  margin: 0 auto;
}
