// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_container {
  text-align: center;
}

.user {
  display: inline-block;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.user_partial_index {
  width: 170px;
  height: 150px;
  margin: auto 0;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 170px;
  float: left;
}

.user_partial_invite {
  width: 170px;
  height: 170px;
  margin: auto 0;
  // margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 180px;
  float: left;
  padding-right: 0;
  padding-left: 0;
}

.user_partial_invite form {
  text-align: center;
}

.search_result {
  margin: 20px 20px;
  font-size: 15px;
}

.user_image {
  text-align: center;
  margin-bottom: 10px;
}

.user_image img {
  width: 100px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.user_name {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

// .user_delete {
//   list-style: none;
// }


.user_delete {
  width: 100px;
  border: 1px solid;
  border-radius: 5px;
  background-color: transparent;
  padding: 3px 12px;
  font-size: 12px;
  margin-top: 10px;
}

.user_delete a {
  color: #000000;
}

.user_delete a:hover {
  color: #000000;
  text-decoration: none;
}

.user input {
  width: 100px;
  border: 1px solid;
  border-radius: 5px;
  background-color: transparent;
  padding: 3px 12px;
  font-size: 12px;
  margin-top: 10px;
}

.user_keyword {
  position: relative;
}

.user_keyword input {
  border: 1px solid #8F9FAD;
  width: 200px;
  height: 30px;
  margin-left: 20px;
  padding-left: 27px;
  border-radius: 25px;
}

.user_keyword .glyphicon {
  position: absolute;
  padding-left: 30px;
  padding-top: 8px;
  pointer-events: none;
  color: #8F9FAD;
}

#search {
  display: none;
}
